<div class="header">
  Expense
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <tr>
        <th>
          Category
        </th>
        <th>
          Item Name
        </th>
        <th>
          Amount
        </th>
        <th>
          Expense Date
        </th>
      </tr>
      <tr>
        <td>
          cat1
        </td>
        <td>
          item1
        </td>
        <td>
          20
        </td>
        <td>
          12.01.88
        </td>
      </tr>
    </table>
  </div>
</div>