<div class="sidebar">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="main-page" [routerLink]="['']">
        Home
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <div class="main-page" [routerLink]="['settings']">
        Settings
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <div class="main-page" [routerLink]="['profile']">
        Profile
      </div>
    </div>
  </div>
</div>